<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mapa</title>

    <link rel="stylesheet"
          href="https://unpkg.com/leaflet/dist/leaflet.css"/>

    <style>
        html, body {
            height: 100%;
            margin: 0;
            overflow: hidden;
        }

        #map {
            width: 100%;
            height: 100vh;
        }
    </style>
</head>
<body>

<div id="map"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>

    var map = L.map('map', {
        zoomSnap: 1,
        zoomDelta: 1
    }).setView([-33.4489, -70.6693], 10);

    L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
        attribution: '&copy; OpenStreetMap &copy; CARTO',
        subdomains: 'abcd',
        maxZoom: 20
    }).addTo(map);

    {% for u in ubicaciones %}
        L.marker([
            {{ u.latitud }},
            {{ u.longitud }}
        ]).addTo(map)
        .bindPopup(
            'ID: {{ u.id_ubi }}<br>' +
            'Lat: {{ u.latitud }}<br>' +
            'Lon: {{ u.longitud }}'
        );
    {% endfor %}

</script>

</body>
</html>